-e git+git@github.com:gegnew/fcsparser.git@710e8e31d4b09ff6e73d47d86770be6ca2f4282c#egg=fcsparser
munch==2.5.0
numpy==1.17.4
pandas==0.25.3
python-dateutil==2.8.1
requests==2.22.0
requests-toolbelt==0.9.1
urllib3==1.25.7
custom_inherit==2.2.2
cachetools==4.0.0
